---
layout: default
title: Hystreet | Where Technology Meets Tradition
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home

services:
  -
    - title: White labelled for your brand
      icon: newspaper
      desc:
        Use your own logo, brand, colours, website, and domain to provide an online service that is truly yours.
      color: yellow
    - title: Standalone software
      icon: monitor
      desc:
        No need to download and install any software packages or manage confusing updates - Hystreet is managed over the web, leaving you free to focus on your service.
      color: yellow
    - title: Never lose to an online agent again
      icon: user
      desc:
        With a service and platform better than any online agent, vendors will have no reason to choose an online agent over their trusted local agent with a cutting-edge online platform.
      color: yellow
    - title: Easy to use
      icon: thumbs-up
      desc:
        Developed by estate agents, for estate agents. Hystreet is designed to be simple to use for agents, vendors, and buyers, at every stage.
      color: yellow
    - title: Complete audit trail
      icon: search
      desc:
        Keep track of everything that happens with your sale, Hystreet keeps a full log of all of the actions.
      color: yellow
    - title: No need to change CRM
      icon: logout
      desc:
        Hystreet connects with your website at a few key points, making sure it can integrate with any existing website or CRM.
      color: yellow

---


<div class="full hero">
<div>
  <div class="row">
          <div class="large-6 columns left">
            <h1 class="homepage-heading" style="/* position: relative; */color: #FFFFFF;">Where Technology Meets Tradition</h1>
            <p style="font-size: 1.25rem;">A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.</p>
            <a class="button boxed" href="/features-pricing/" id="features">View Features</a>
          </div>
          <div class="large-6 columns right" style="margin-top: 1rem;">
            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class="embed-container"><iframe src="https://player.vimeo.com/video/212094970" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></div>
          </div>
        </div>
        <a href="#features" class="banner__arrow" data-behaviour="scroll-to" id="arrow"></a>
		</div>
</div>

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text' id='what-is-hystreet'>
      <h2>What is Hystreet?</h2>
      <p>
        Hystreet has been built from scratch using the latest, cutting-edge technology, and specifically designed to support high street agents offer a true 24/7 online service, that is fully white labelled with your brand, logo, and colours, enabling you to use your expertise to launch an online service better than any leading online agent.
      </p>
  </div>
</div>
</div>



{% include whys.html %}


{% include demo-slip.html %}


<div class='full white'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-map'></i>
      <h2>Why Choose Hystreet?</h2>
      <p>Hystreet is a revolutionary product that offers a true 24/7 online service to your customers. Here's how.</p>
      <p class='shortline'></p>
    </div>
    <div class='two spacing'></div>
  </div>

  {% for row in page.services %}
    <div class="row">
      {% for service in row %}
        <div class='medium-4 large-4 columns icon-text'>
          <i class='icon-{{service.icon}} {{service.color}}'></i>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
      {% endfor %}
    </div>
    {% unless forloop.last %}
      <div class="spacing"></div>
    {% endunless %}
  {% endfor %}
</div>

{% include testimonials.html bg="bg-2" %}

{% include clients.html %}

{% include demo-slip.html %}

{% include diary.html %}

{% include get-in-touch.html %}
