---
layout: default
title: Hystreet - Where Technology Meets Tradition
section_id: home

milestones:
  - from: 0
    to: 4133
    title: Code uploads
  - from: 0
    to: 726
    title: Cups of coffee consumed
  - from: 0
    to: 59
    title: Chip shop dinners
  - from: 0
    to: 121
    title: Articles published

bars:
  - title: Web design
    percent: 84
  - title: Web development
    percent: 95
  - title: Site management
    percent: 70
  - title: Branding
    percent: 61

members:
  - image: member-1.png
    name: Shirley Adkins
    position: Founder &amp; Designer
    desc:
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: facebook
        link: #
        color: yellow
      - name: vimeo
        link: #
        color: yellow
      - name: mail
        link: #
        color: yellow
  - image: member-2.png
    name: Uriel Garrett
    position: Director &amp; Project Manager
    desc:
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: facebook
        link: #
        color: yellow
  - image: member-3.png
    name: Dulce Welch
    position: Designer &amp; Art Director
    desc:
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: facebook
        link: #
        color: yellow
      - name: mail
        link: #
        color: yellow
  - image: member-4.png
    name: Stephanie Morse
    position: Developer
    desc:
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: vimeo
        link: #
        color: yellow
      - name: mail
        link: #
        color: yellow

---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <h2>About us</h2>
      <p>
        Hystreet was developed as a response to the growing market share of online agents. Recognising that online agents were being instructed to sell more and more properties, taking instructions away from good high street agents, and yet failing to sell these properties, something needed to be done to give traditional estate agents a way to fight back against online agents and win back the business of tech-savvy home sellers.
      </p>
      <p>
        We are a team of industry-leading tech experts and estate agents, that have built a cutting edge platform with estate agents in mind.
      <p>
        Hystreet is now a state of the art system that fits around your estate agency, offering support where you need it most in order to offer an online service that is truly your own.
      </p>
  </div>
</div>
</div>


{% include demo-slip.html %}

{% include get-in-touch.html %}
