<div class='full dark-grey no-padding layout-text client-logos'     style="background-size: 100%;">
  <div class='spacing'></div>
  <div class='row'>
      <div class='small-12 large-15 columns'>
          <p style="color: #FFF;font-size: 1.375rem; margin-top: 25px;">Trusted by:</p>
      </div>
    {% for client in site.data.clients %}
      <div class='small-12 large-15 columns'>
        <img style="height: 80px; margin:10px 0px" src='{{site.url}}/images/{{client.image}}' alt='{{client.alt}}'>
      </div>
    {% endfor %}
  </div>
  <div class='spacing'></div>
  <div class='spacing'></div>
</div>
