<div class='full dark-grey no-padding'>
  <div class='spacing'></div>
  <div class='row'>
      <div class='small-6 large-25 columns'>
          <p style="color: #FFF;font-size: 1.375rem; margin-top: 25px;">Trusted by:</p>
      </div>
    {% for client in site.data.clients %}
      <div class='small-6 large-25 columns'>
        <img style="height: 80px;" src='{{site.url}}/images/{{client.image}}'>
      </div>
    {% endfor %}
  </div>
  <div class='spacing'></div>
  <div class='spacing'></div>
</div>
