<div class='footer layout-text' style="background-image: url(/images/hero-hex-bg-trans-smaller.png); background-size: 100%;">
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-12 columns'></div>
    <h1 class='light'>
      <img src='{{site.url}}/images/top-bar-logo.png'>
      <br>
    </h1>
    <div class='spacing'></div>
  </div>

  <p class="contact-text">London <span style="color: #e63375;">//</span> 78 York Street, London, W1H 1DP</p>
  <p class="contact-text">Manchester <span style="color: #e63375;">//</span> 5th Floor, Building 5, Universal Square, Devonshire Street, Manchester M12 6JH</p>
  <p class="contact-text">Birmingham(ish) <span style="color: #e63375;">//</span> 30 Greenbox, Westonhall Road, Stoke Prior, Bromsgrove, B60 4AL</p>
  <div class='spacing'></div>
  <p class="contact-text">0203 908 3000</p>
  <div class='spacing'></div>
  <div class='socials centered-text'>
    <a href='https://twitter.com/HyStreetUK'><i class='icon icon-twitter grey'></i></a>
    <a href='https://www.facebook.com/HyStreetUK/'><i class='icon icon-facebook grey'></i></a>
    <a href='https://www.linkedin.com/company-beta/11066935'><i class='icon icon-linkedin grey'></i></a>
    <a href='https://www.instagram.com/hystreetuk/'><i class='icon icon-instagram grey'></i></a>
    <a href='mailto:hello@hystreet.co.uk'><i class='icon icon-mail grey'></i></a>
    <div class="contact-text">
      <p>
        <a href="/privacy">Privacy Policy</a> | <a href="/terms-conditions/">Terms &amp; Conditions</a> | <a href="/cookies/">Cookie Policy</a>
      </p>
      <p class="copyright">Company Number: 10007749 | VAT: 249966541</p>
      <p class='copyright' style="margin-top: -30px;">2017 &copy; Hystreet
      <br>
      <p>Made in England</p>
    </div>
  </div>
</div>

{% include scripts-footer.html %}
