<div class='full dark-grey no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='call-to-action light layout-text'>
      <div class='left small-12 medium-9 large-9 columns'>
        <p style="margin-top: 8px;">Like what you see? Register here.</p>
      </div>
      <div class='right small-12 medium-3 large-3 columns cta-button'>
        <a class='signup-button' href='https://ge395.infusionsoft.com/app/page/hystreet-register-form'>Sign Up Now</a>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
