---
layout: default
title: Hystreet - Where Technology Meets Tradition
section_id: home

bars:
  - title: Web design
    percent: 84
  - title: Web development
    percent: 95
  - title: Site management
    percent: 70
  - title: Branding
    percent: 61

members:
  - image: member-1.png
    name: Shirley Adkins
    position: Founder &amp; Designer
    desc: 
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: facebook
        link: #
        color: yellow
      - name: vimeo
        link: #
        color: yellow
      - name: mail
        link: #
        color: yellow
  - image: member-2.png
    name: Uriel Garrett
    position: Director &amp; Project Manager
    desc:
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: facebook
        link: #
        color: yellow
  - image: member-3.png
    name: Dulce Welch
    position: Designer &amp; Art Director
    desc:
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: facebook
        link: #
        color: yellow
      - name: mail
        link: #
        color: yellow
  - image: member-4.png
    name: Stephanie Morse
    position: Developer
    desc:
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: vimeo
        link: #
        color: yellow
      - name: mail
        link: #
        color: yellow
---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-users'></i>
      <h2>Aliquam aliquam non est a lacinia.</h2>
      <p> 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac purus pharetra, aliquet justo eget, faucibus nulla. Aliquam accumsan, mi id fringilla ultricies, eros mauris scelerisque tortor, tempor bibendum ipsum nisi at augue. Suspendisse potenti. Aenean tincidunt risus at nibh lobortis, vitae pharetra justo feugiat. Morbi purus ante, aliquam vel tincidunt vel, interdum imperdiet ligula. Aenean id justo et lorem efficitur varius. Nullam aliquam eros consequat egestas rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum faucibus risus eu vulputate.
      </p><p>
Praesent non lacinia eros. Vivamus tempor lacus ac tortor egestas mattis. Duis euismod commodo dolor, in auctor erat ornare id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis turpis nibh, imperdiet non augue id, interdum euismod lacus. Nulla facilisi. Nulla nisi turpis, molestie eget consequat sed, molestie sed magna. Vestibulum porttitor tortor nec lorem dapibus consequat. Nullam risus libero, commodo eget hendrerit in, vehicula in mi.
</p>
  </div>
</div>
</div>

<div class='members'>
  <div class='full no-padding'>
    <div class='row'>
      {% for member in page.members %}
        {% if forloop.first %}
          {% assign active_class = "active" %}
        {% else %}
          {% assign active_class = "" %}
        {% endif %}
        <div class='medium-3 large-3 columns'>
          <div class='member centered-text {{active_class}}'>
            <img src='{{site.url}}/images/{{member.image}}'>
            <h3>{{member.name}}</h3>
            <p class='position'>{{member.position}}</p>
            <p>
              {{member.desc}}
            </p>
            <div class='socials'>
              {% for social in member.socials %}
                <a href='{{social.link}}'>
                  <i class='icon-{{social.name}} {{social.color}}'></i>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    
    <div class='three spacing'></div>

    <div class='row'>
      {% for member in page.members %}
        {% if forloop.first %}
          {% assign active_class = "active" %}
        {% else %}
          {% assign active_class = "" %}
        {% endif %}
        <div class='medium-3 large-3 columns'>
          <div class='member centered-text {{active_class}}'>
            <img src='{{site.url}}/images/{{member.image}}'>
            <h3>{{member.name}}</h3>
            <p class='position'>{{member.position}}</p>
            <p>
              {{member.desc}}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class='three spacing'></div>
    <div class='three spacing'></div>
  </div>
</div>

<div class='full dark-blue no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='call-to-action light'>
      <div class='medium-9 large-9 columns'>
        <p class='left'>Book your online demo today and stop losing online instructions.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='#'>Book demo</a>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

{% include get-in-touch.html %}

