---
layout: default
title: Hystreet - Where Technology Meets Tradition
section_id: home

---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <h1>Features and Pricing</h1>
      <p> 
        However you need to use Hystreet to support your business, our platform is capable and flexible enough to handle any level of service, from a fully-managed estate agency progress, to one managed online by the vendor. Whichever solution you need, we're ready to provide it.
      </p>
  </div>
</div>
</div>

<div class='full white centered-text'>
  <div class='row'>
    <div class='special-title centered-text'>
      <h2>Offer your own service</h2>
      <p>Use Hystreet however you want to provide the service that your business needs to.</p>
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row'>
    
      
      <div class='medium-3 large-4 columns icon-text-boxed'>
        <i class='icon-users'></i>
        <h3>Face to face, full service</h3>
        <p>Manage your customers sale for them through Hystreet's staff side, carry out viewings, and take care of any negotiations.</p>
      </div>
    
      
      <div class='medium-3 large-4 columns icon-text-boxed'>
        <i class='icon-newspaper'></i>
        <h3>Hybrid service</h3>
        <p>Give your customers the convenience of their own 24/7 platform, alongside the expertise and guidance of your team.</p>
      </div>
    
      
      <div class='medium-3 large-4 columns icon-text-boxed'>
        <i class='icon-network'></i>
        <h3>Fully online service</h3>
        <p>Let your customers manage their sale through their online platform, allowing them to progress their own sale how they want to.</p>
      </div>
    
  </div>
</div>

{% include demo-slip.html %}

{% include get-in-touch.html %}

