---
layout: default
title: Features & Pricing | Hystreet
description: Hystreet is capable and flexible enough to handle any level of service, from a fully-managed estate agency progress, to one managed online by the vendor.
section_id: home

---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class="icon-info-circled"></i>
      <h1>Features & Pricing</h1>
      <p> 
        However you need to use Hystreet to support your business, our platform is capable and flexible enough to handle any level of service, from a fully-managed estate agency progress, to one managed online by the vendor. Whichever solution you need, we're ready to provide it.
      </p>
    </div>
</div>
</div>
{% include demo-slip.html %}
<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <h2>
        Features
      </h2>
      <div class="spacing"></div>
      <i class="icon-calendar"></i>
      <h3>
        Book appointments online
      </h3>
      <p>
        All appointments can be booked online at any time. Customers can book valuations directly into your agent’s diary, with enough notice to make sure you can still get your comparisons and other pre-valuation preparation out of the way first. They can then book subsequent appointments in the system, including launch appointments. Buyers can then book appointments directly into the vendor’s diary, or the agent’s if they are managing viewings for the customer.
      </p>
      <i class="icon-network"></i>
      <h3>
        Manage sales online
      </h3>
      <p>
        Getting-to-market checks are also handled over the web. We have partnered with Experian® so we can provide fully AML compliant, automated, online ID checks. These ID checks are submitted by the vendor via our online platform, and typically only take a couple of minutes to complete. This saves you and your team time. The system also handles property fact finds, collecting all of the data and documentation needed for the sale in one easily accessible place for your team to approve without the hassle of emails, letters, and scans.
      </p>
      <i class="icon-chat"></i>
      <h3>
        Offer negotiations
      </h3>
      <p>
        Offer negotiations happen transparently between the buyer and seller, with position information being made available to the seller on every offer made, meaning they can make an informed decision and get the best deal possible. Your agents are kept up to date every step of the way, and can still get in touch to help out at any time.
      </p>
      <i class="icon-vcard"></i>
      <h3>
        Finalising sale
      </h3>
      <p>
        When it comes to the last stages of the sale the system continues to save you and your team time at every step. Information of the buyer’s and seller’s legal representatives are collected, as are additional chain details if needed. The system also collects documentation and proof of funds, including mortgage approval documents and proof of cleared funds.
      </p>
      <i class="icon-credit-card"></i>
      <h2>
        Pricing
      </h2>
      <p>
        Our pricing is simple: £395 +VAT, per branch, per month, with no setup fee. Our payment period doesn’t start until your system is fully up and running on your website, so you can make your money back the very same day.
      </p>
  </div>
</div>
</div>

<div class='full white centered-text'>
  <div class='row'>
    <div class='special-title centered-text'>
      <h2>Offer your own service</h2>
      <p>Use Hystreet however you want to provide the service that your business needs to.</p>
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row'>
    
      
      <div class='medium-3 large-4 columns icon-text-boxed'>
        <i class='icon-users'></i>
        <h3>Face to face, full service</h3>
        <p>Manage your customers sale for them through Hystreet's staff side, carry out viewings, and take care of any negotiations.</p>
      </div>
    
      
      <div class='medium-3 large-4 columns icon-text-boxed'>
        <i class='icon-newspaper'></i>
        <h3>Hybrid service</h3>
        <p>Give your customers the convenience of their own 24/7 platform, alongside the expertise and guidance of your team.</p>
      </div>
    
      
      <div class='medium-3 large-4 columns icon-text-boxed'>
        <i class='icon-network'></i>
        <h3>Fully online service</h3>
        <p>Let your customers manage their sale through their online platform, allowing them to progress their own sale how they want to.</p>
      </div>
    
  </div>
</div>

{% include demo-slip.html %}

{% include get-in-touch.html %}

