/* Fonts */
/* ========================================================================== */

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular.woff2') format('woff2'),
         url('../fonts/lato-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-italic.woff2') format('woff2'),
         url('../fonts/lato-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-black.woff2') format('woff2'),
         url('../fonts/lato-black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-blackitalic.woff2') format('woff2'),
         url('../fonts/lato-blackitalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

html, body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* ========================================================================== */
/* Layout */
/* ========================================================================== */
.main-content {
  width: 100%;
  padding: 50px 10px;
}

@media only screen and (min-width: 1024px) {
  .main-content {
    width: 60%;
    padding: 50px;
  }
}

.main-content--full-width {
  width: 100% !important;
}

.page-content {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  color: #333333;
  background: #FFFFFF;
}

.page-content p:first-child {
  margin-top: 0;
}

.page-content p:last-child {
  margin-bottom: 0;
}

.page-content p {
  line-height: 1.8;
  font-size: 18px;
  margin-bottom: 25px;
}

.page-content a {
  color: #2DBBC8;
  text-decoration: none;
}

.page-content a:hover {
  text-decoration: underline;
}

.sub-content {
  display: block;
  width: 100%;
  background-color: #2DBBC8;
  padding: 10px;
  padding-bottom: 50px
}

@media only screen and (min-width: 1024px) {
  .sub-content {
    width: 40%;
    padding: 50px;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
  }
}

.row {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .row {
    display: flex;
  }
}

.row--full-height {
  min-height: 100vh;
}

/* ========================================================================== */
/* Bits n pieces */
/* ========================================================================== */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.logo {
  display: block;
  text-indent: -999999px;
  width: 166px;
  height: 55px;
  background-image: url(../images/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 166px 55px;
}

.logo--center {
  margin-left: auto;
  margin-right: auto;
}

.tagline {
  font-size: 30px;
  font-weight: normal;
}

.coming-soon {
  text-transform: uppercase;
  font-size: 30px;
}

.gradient-bg {
  color: #FFFFFF;
  background-image: linear-gradient(-180deg, #58DBAB 0%, #2DBBC8 100%);
}

.gradient-bg .form-body {
  color: #4A4A4A;
}

.features-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 270px;
}

@media only screen and (min-width: 1130px) {
  .features-list {
    width: auto;
    margin: 0;
  }

  .features {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.features-list__item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  font-size: 18px;
}

.features-list__item .fa {
  font-size: 25px;
  line-height: 1;
  margin-right: 15px;
}

.video-button {
  position: relative;
  top: 0;
  display: inline-flex;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  color: #22695B;
  margin-left: auto;
  margin-right: auto;
  background: #E0FEF8;
  transition: all 0.2s;
}

@media only screen and (min-width: 1024px) {
  .video-button {
    padding: 20px 50px;
  }
}

.video-button:hover {
  top: -3px;
  box-shadow: rgba(0,0,0,0.1) 0 3px 10px 2px;
  background: #FFFFFF;
  transition: all 0.2s;
}

.video-button__icon {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}

.social-media-links {
  list-style: none;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-media-link {
  margin-right: 30px;
  font-size: 30px;
}

.social-media-link:last-child {
  margin-right: 0;
}

.social-media-link a {
  color: #FFFFFF;
  transition: all 0.2s;
}

.social-media-link a:hover {
  color: #22695B;
  transition: all 0.2s;
}

/* ========================================================================== */
/* Form */
/* ========================================================================== */
#mc_embed_signup {
  display: block;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,0.50);
  border-radius: 5px 5px 10px 10px;
}

.form-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #22695B;
  padding: 30px 40px;
  text-align: center;
  border-bottom: #F0F0F0 1px solid;
}

.form-body {
  padding: 20px 20px;
}

@media only screen and (min-width: 1024px) {
  .form-body {
    padding: 30px 40px;
  }
}

.asterisk {
  color: red;
}

.form-field-label {
  display: block;
  font-weight: bold;
  font-size: 15px;
  color: #4A4A4A;
  letter-spacing: 0.65px;
  margin-bottom: 15px;
}

.form-field-input-text {
  width: 100%;
  font-size: 15px;
  padding: 10px 15px;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 3px;
  margin-bottom: 15px;
  outline: none;
  transition: all 0.2s;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.form-field-input-text:focus {
  border: 1px solid #BBBBBB;
  transition: all 0.2s;
}

#mc_embed_signup input.mce_inline_error {
  border-color: #D8D8D8 !important;
}

#mc_embed_signup div.mce_inline_error {
  padding-top: 0 !important;
  padding-left: 0 !important;
  color: red !important;
  background-color: transparent !important;
}

.form-button {
  width: 100%;
  padding: 20px;
  background: #47E3C2;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 0.87px;
  border: none;
  border-radius: 0 0 5px 5px;
  transition: all 0.2s;
  outline: none;
}

@media only screen and (min-width: 1024px) {
  .form-button {
    background: #4FB0BB;
  }
}

.form-button:hover {
  cursor: pointer;
  background: #36BFA2;
  transition: all 0.2s;
}

@media only screen and (min-width: 1024px) {
  .form-button:hover {
    background: #3C878F;
  }
}

.select-wrap {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

.select-field {
  position: relative;
}

.select-field:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -6px;
  transform: rotate(135deg);
  width: 5px;
  height: 5px;
  border: 2px #666666 solid;
  border-color: #666666 #666666 transparent transparent;
}

select {
  width: 100%;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  border: 1px solid #D8D8D8;
  background: #FFFFFF;
  padding: 10px 15px;
  padding-right: 30px;
  font-size: 16px;
  font-weight: normal;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.Full-screen-video__body {
  overflow: hidden;
}

.Full-screen-video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1074; /* Must be top layer(above header)! */
}

.Full-screen-video iframe {
  width: 100vw;
  height: 100vh;
}

.Full-screen-video__close {
  cursor: pointer;
  position: absolute;
  color: #FFFFFF;
  font-size: 27px;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: #000000;
  transition: background 0.3s;
}

@media only screen and (min-width: 1024px) {
  .Full-screen-video__close {
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.phone-number {
  font-size: 20px;
  justify-content: center;
  display: flex;
  font-weight: bold;
  align-items: center;
}

.phone-number .fa {
  font-size: 25px;
  margin-right: 10px;
}

.more-link {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: rgba(255,255,255, 0.4) 2px solid;
  transition: border-bottom 0.3s;
}

.more-link:hover {
  border-bottom: rgba(255,255,255, 1) 2px solid;
  transition: border-bottom 0.3s;
}
