---
layout: default
---


<div class='full about-hero' style='background: URL("{{site.url}}/images/20180201 700 _DSF9334.jpg");
                                                  background-position:0% 70%;
                                                  background-size:cover;'>      
  <div class='row'>
    <div class='special-title layout-text' style="
    position: sticky;
    vertical-align: middle;
    margin-top: 10%;
    margin-bottom:  10%;
">
      <h2 style="margin-top: 8px;color: #FFF;font-size: 329%;font-weight: bolder;">Our Blog</h2>
      <p style="color:#FFFFFF;">Founder and CEO of Hystreet Awais Ahmad shares is thoughts in this weekly blog.</p>
    </div>
    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
</div>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>

      {{ content }}

      {% if paginator %}
        <div class="pager">
          {% if paginator.next_page %}
            {% if paginator.next_page == 1 %}
              <a href="/blog" class="older">Older Entries</a>
            {% else %}
              <a href="/blog/page{{ paginator.next_page }}" class="older">Older Entries</a>
            {% endif %}
          {% else %}
            <span class="older">Older Entries</span>
          {% endif %}
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              <a href="/blog" class="newer">Newer Entries</a>
            {% else %}
              <a href="/blog/page{{ paginator.previous_page }}" class="newer">Newer Entries</a>
            {% endif %}
          {% else %}
            <span class="newer">Newer Entries</span>
          {% endif %}
        </div>
      {% endif %}

    </div>
  </div>
</div>
