<!DOCTYPE html>
<html class='no-js' lang='en'>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta content='width=device-width, initial-scale=1.0' name='viewport'>
      {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
      <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
      <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='{{ site.url }}/css/framework.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/syntax.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/style.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/fontello.css' rel='stylesheet'>
      <script src='{{ site.url }}/js/modernizr.js'></script>
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <body data-sticky-container>
        <!-- im a little tester -->
      <div class='contain-to-grid sticky' data-sticky>
        <nav class='top-bar' data-topbar=''>
          <ul class='title-area'>
            <li class='name'>
              <span>
                   <a href="/">
                <img src='{{site.url}}/images/hystreet logo wite trans.png' style="width: 180px;">
                   </a>
              </spaqn>
            </li>
            <li class='toggle-topbar menu-icon'>
              <a href='#'>Menu</a>
            </li>
          </ul>
          <section class='top-bar-section'>
            <ul class="right">
              {% for item in site.data.nav %}
                {% if item.section_id == page.section_id %}
                  {% assign active_class = "active" %}
                {% else %}
                  {% assign active_class = "" %}
                {% endif %}

                {% if item.children %}
                  <li class="has-dropdown {{active_class}}">
                    <a href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
                    <ul class='dropdown'>
                      {% for child in item.children %}
                        <li>
                          <a href="{{site.url}}/{{ child.path }}">{{ child.name }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="{{active_class}}">
                    <a href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
                  </li>
                {% endif %}
              {% endfor %}
                <li class="floating">
                       <p><a class="button" href="/book-demo/" style="top: 33px;">
                           Book demo
                           </a></p>
                </li>
            </ul>
          </section>
        </nav>
      </div>


      {{ content }}


      <div class='footer centered-text' style="background-image: url(../images/disksoverlay2.png);">
        <div class='spacing'></div>
        <div class='row'>
          <div class='large-12 columns'></div>
          <h1 class='light'>
            <img src='{{site.url}}/images/hystreet logo wite trans.png' style="width: 25%;">
            <br>
          </h1>
          <div class='spacing'></div>
            <div class='centered-text'>
                <p><a href="/privacy">Privacy policy</a> | <a href="/terms-conditions/">Terms &amp; Conditions</a></p>
                <p>Company Number: 10007749 | VAT: 249966541 | 78 York Street, London, W1H 1DP</p>
            </div>
          <div class='spacing'></div>
          <div class='socials centered-text'>
            <a href='https://twitter.com/HyStreetUK'>
              <i class='icon-twitter grey'></i>
            </a>
            <a href='https://www.facebook.com/HyStreetUK/'>
              <i class='icon-facebook grey'></i>
            </a>
            <a href='https://www.linkedin.com/company-beta/11066935'>
              <i class='icon-linkedin grey'></i>
            </a>
              <a href='https://www.instagram.com/hystreetuk/'>
              <i class='icon-instagram grey'></i>
            </a>
            <a href='mailto:hello@hystreet.co.uk'>
              <i class='icon-mail grey'></i>
            </a>
          </div>
          <p class='copyright'>Copyright 2017 Hystreet</p>
        </div>
      </div>

      <script src='{{ site.url }}/js/jquery.min.js'></script>
      <script src='{{ site.url }}/js/foundation.min.js'></script>
      <script src='{{ site.url }}/js/jquery.countTo.js'></script>
      <script src='{{ site.url }}/js/jquery.appear.js'></script>
      <script src='{{ site.url }}/js/app.js'></script>
      <script>
      window.intercomSettings = {
      app_id: "hfwdn64k"
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/hfwdn64k';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
    </script>
    </body>
</html>
